/**
 * @file sass/mixins/_anchors.sass
 * Anchors Manager
 *
 * Use this file to set anchor mixins.
 */

// -----------------------------
// Custom anchor mixins
// -----------------------------

// Mixin for basic anchor colored red
@mixin red-link
  font-size: 14px
  color: $claro-main-red
  text-decoration: none
  &:hover,
  &:active
    text-decoration: underline